body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    /* center body */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0;

}


.form-container {
  position: sticky;
  top: 0;

  z-index: 100;
}

.form {
  /* styles for the form, border, letter background */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  background-color: #ffffff;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  word-wrap: break-word;
}

.material-symbols-outlined {
  color: rgb(0, 153, 255);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.mark-completed-all{
  display: inline-flex;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #ffffff;
  margin-right: 0px;
}

.delete-all{
  display: inline-flex;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #ff0000;
  margin-right: 0px;
}

.sent {
  background-color: green;
  transition: background-color 0.5s ease;
}

.white {
  background-color: white;
  transition: background-color 0.5s ease;
}

button{
  /* show the icon left to the task text */
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 10px;
  }

.task-item {
  display: flex;
  align-items: center;
  padding: 10px; /* Ajusta el espacio entre los elementos */
}

.task-text {
  flex-grow: 1; /* El texto ocupará todo el espacio disponible */
  white-space: pre-wrap;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px; /* Ajusta la distancia entre el icono y el texto */
  width: 24px; /* Ancho fijo para los iconos */
  display: inline-flex; /* Asegura que los iconos no afecten el flujo del texto */
}

.completed-icon {
  color: green;
}
  
/* make responsive with mkey media */
@media (max-width: 768px) {
  /* disminuye el tamaña de todos los elementos en un 45% */
  .form {
    width: 45%;
  }
  .input {
    padding: 3px;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 18
  }
  .mark-completed-all{
    font-size: 0.8rem;
  }
  .delete-all{
    font-size: 0.8rem;
  }
  .task-item {
    padding: 5px;
  }
  .icon {
    font-size: 1rem;
    margin-right: 5px;
    width: 16px;
  }
  .task-text {
    font-size: 0.8rem;
  }
  
  h1{
    font-size: 1rem;
  }

}


